#navigation {
  padding: 0;
  border-bottom: 0;
}

#navigation #navigation_tabs {
  padding:0.5em 20px 0.5em 0.5em;
}

#navigation #submenu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: #c1bca4;
  background-color: #EAE3C5;
  height: 20px;
  padding-top: 4px;
  overflow: hidden;
  text-align: right;
}

#navigation #submenu #submenu_links {
  float: left;
  text-align: left;
}

#navigation #submenu.empty {
  height: 4px;
}

#navigation #submenu div {
  margin: 0 25px;
}

#navigation #submenu a, #navigation #submenu a:visited {
  position: relative;
  background: transparent;
  color: #7d796c;
  display:inline;
  margin: 5px;
  outline-color: auto;
  outline-width: 0;
  padding: 0;
}

#navigation #submenu #submenu_links a, #navigation #submenu #submenu_links a:visited {
  color: #c00;
}

#navigation #submenu #submenu_links a.admin, #navigation #submenu #submenu_links a.admin:visited {
  color: #c1bca4;
}

#navigation #submenu a:hover {
  color: black;
}

#navigation strong a, #navigation strong a:visited {
  background-color: #EAE3C5;
  background-image: none;
  color: black;
  padding-top: 8px;
  margin-top: 0;
  font-size: 100%;
}

#navigation a, #navigation a:visited {
  background:transparent url(/images/admin/bgtab.png) repeat-x bottom left;
  color: #7d796c;
  margin-top: 2px;
  padding-top: 6px;
  font-size: 85%;
  margin-right: 1px;
}

#navigation a.fg, #navigation a.fg:visited {

}

/* site chooser floats left in submenu under multi_site */

#site_chooser {
  float: left;
}

#navigation #submenu a.expandable {
  padding-left: 10px;
  background: transparent url(/images/admin/menu_expandable.png) no-repeat 0 5px;
}
#navigation #submenu a.expandable:hover {
  background: transparent url(/images/admin/menu_expandable_over.png) no-repeat 0 5px;
}
#navigation #submenu a.expanded {
  padding-left: 10px;
  background: transparent url(/images/admin/menu_expanded.png) no-repeat 0 5px;
}
#navigation #submenu a.expanded:hover {
  background: transparent url(/images/admin/menu_expanded_over.png) no-repeat 0 5px;
}

ul#site_list {
  position: absolute;
  font-size: 85%;
  padding: 10px;
  margin: 0;
  top: 0;
  left: 16px;
  width: 160px;
  color: #c1bca4;
  background-color: #EAE3C5;
  list-style: none;
  overflow: hidden;
}

ul#site_list a, ul#site_list a:visited {
  position: relative;
  background: transparent;
  color: #7d796c;
  text-decoration: none;
}

ul#site_list a.fg {
  font-weight: bold;
}

ul#site_list a:hover {
  color: black;
}

/* submenu admin */

#content table.index .node .submenu_link {
  font-size:115%;
  font-weight:bold;
}

#content .form-area .user select {
  font-family:Georgia,Palatino,"Times New Roman",Times,serif;
  font-size:150%;
  width:60%;
}

#content .form-area p.url, #content .form-area p.user {
  margin-top: 10px;
}

#content .form-area span.formnote {
  color: #7d796c;
  font-size: 85%;
}



