[submodule "vendor/extensions/ray"]
	path = vendor/extensions/ray
	url = git@github.com:netzpirat/radiant-ray-extension.git
[submodule "vendor/extensions/admin_breadcrumbs"]
	path = vendor/extensions/admin_breadcrumbs
	url = git@github.com:netzpirat/radiant-admin-breadcrumbs-extension.git
[submodule "vendor/extensions/wym_editor_filter"]
	path = vendor/extensions/wym_editor_filter
	url = git@github.com:netzpirat/radiant-wym-editor-filter-extension.git
[submodule "vendor/extensions/copy_move"]
	path = vendor/extensions/copy_move
	url = git@github.com:netzpirat/radiant-copy-move-extension.git
[submodule "vendor/extensions/import_export"]
	path = vendor/extensions/import_export
	url = git@github.com:netzpirat/radiant-import-export-extension.git
[submodule "vendor/extensions/multi_site"]
	path = vendor/extensions/multi_site
	url = git@github.com:netzpirat/radiant-multi-site-extension.git
[submodule "vendor/extensions/settings"]
	path = vendor/extensions/settings
	url = git@github.com:netzpirat/radiant-settings-extension.git
[submodule "vendor/extensions/dashboard"]
	path = vendor/extensions/dashboard
	url = git@github.com:netzpirat/radiant-dashboard-extension.git
[submodule "vendor/extensions/navigation_tags"]
	path = vendor/extensions/navigation_tags
	url = git@github.com:netzpirat/radiant-navigation-tags-extension.git
[submodule "vendor/extensions/share_layouts"]
	path = vendor/extensions/share_layouts
	url = git@github.com:netzpirat/radiant-share-layouts-extension.git
[submodule "vendor/extensions/tags"]
	path = vendor/extensions/tags
	url = git@github.com:netzpirat/radiant-tags-extension.git
[submodule "vendor/extensions/gallery"]
	path = vendor/extensions/gallery
	url = git@github.com:netzpirat/radiant-gallery-extension.git
[submodule "vendor/extensions/iphone"]
	path = vendor/extensions/iphone
	url = git@github.com:netzpirat/radiant-iphone-extension.git
[submodule "vendor/extensions/help"]
	path = vendor/extensions/help
	url = git@github.com:netzpirat/radiant-help-extension.git
[submodule "vendor/extensions/paperclipped_multisite"]
	path = vendor/extensions/paperclipped_multisite
	url = git@github.com:netzpirat/radiant-paperclipped-multisite-extension.git
[submodule "vendor/extensions/upload_manager"]
	path = vendor/extensions/upload_manager
	url = git@github.com:netzpirat/radiant-upload-manager-extension.git
[submodule "vendor/extensions/paperclipped"]
	path = vendor/extensions/paperclipped
	url = git@github.com:netzpirat/radiant-paperclipped-extension.git
[submodule "vendor/extensions/sns"]
	path = vendor/extensions/sns
	url = git@github.com:netzpirat/radiant-sns-extension.git
[submodule "vendor/extensions/search"]
	path = vendor/extensions/search
	url = git@github.com:netzpirat/radiant-search-extension.git
[submodule "vendor/extensions/search_multi_site"]
	path = vendor/extensions/search_multi_site
	url = git@github.com:netzpirat/radiant-search-multi-site-extension.git
[submodule "vendor/extensions/tags_multi_site"]
	path = vendor/extensions/tags_multi_site
	url = git@github.com:netzpirat/radiant-tags-multi-site-extension.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/extensions/page_preview"]
	path = vendor/extensions/page_preview
	url = git@github.com:netzpirat/radiant-page-preview-extension.git
[submodule "vendor/radiant"]
	path = vendor/radiant
	url = git@github.com:netzpirat/radiant.git
[submodule "vendor/extensions/dav"]
	path = vendor/extensions/dav
	url = git@github.com:netzpirat/radiant-dav-extension.git
[submodule "vendor/extensions/blog"]
	path = vendor/extensions/blog
	url = git@github.com:netzpirat/radiant-blog-extension.git
[submodule "vendor/extensions/conditional_tags"]
	path = vendor/extensions/conditional_tags
	url = git@github.com:netzpirat/radiant-conditional-tags-extension.git
[submodule "vendor/extensions/scoped_admin"]
	path = vendor/extensions/scoped_admin
	url = git@github.com:netzpirat/radiant-scoped-admin-extension.git
[submodule "vendor/extensions/drag_order"]
	path = vendor/extensions/drag_order
	url = git@github.com:netzpirat/radiant-drag-order-extension.git
[submodule "vendor/extensions/index_page"]
	path = vendor/extensions/index_page
	url = git@github.com:netzpirat/radiant-index-page-extension.git
[submodule "vendor/extensions/sns_minifier"]
	path = vendor/extensions/sns_minifier
	url = git@github.com:netzpirat/radiant-sns-minifier-extension.git
[submodule "vendor/extensions/sns_sass_filter"]
	path = vendor/extensions/sns_sass_filter
	url = git@github.com:netzpirat/radiant-sns-sass-filter-extension.git
[submodule "vendor/extensions/tiny_paper"]
	path = vendor/extensions/tiny_paper
	url = git://github.com/Aissac/radiant-tiny-paper-extension.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/extensions/paginate"]
	path = vendor/extensions/paginate
	url = git://github.com/saturnflyer/radiant-paginate-extension.git
[submodule "vendor/extensions/change_author"]
	path = vendor/extensions/change_author
	url = git://github.com/saturnflyer/radiant-change_author-extension.git
