[submodule "vendor/extensions/ray"]
	path = vendor/extensions/ray
	url = git@github.com:netzpirat/radiant-ray-extension.git
[submodule "vendor/extensions/admin_breadcrumbs"]
	path = vendor/extensions/admin_breadcrumbs
	url = git@github.com:netzpirat/radiant-admin-breadcrumbs-extension.git
[submodule "vendor/extensions/wym_editor_filter"]
	path = vendor/extensions/wym_editor_filter
	url = git@github.com:netzpirat/radiant-wym-editor-filter-extension.git
[submodule "vendor/extensions/copy_move"]
	path = vendor/extensions/copy_move
	url = git@github.com:netzpirat/radiant-copy-move-extension.git
[submodule "vendor/extensions/page_preview"]
	path = vendor/extensions/page_preview
	url = git@github.com:netzpirat/radiant-page-preview-extension.git
[submodule "vendor/extensions/import_export"]
	path = vendor/extensions/import_export
	url = git@github.com:netzpirat/radiant-import-export-extension.git
[submodule "vendor/extensions/reorder"]
	path = vendor/extensions/reorder
	url = git@github.com:netzpirat/radiant-reorder-extension.git
[submodule "vendor/extensions/multi_site"]
	path = vendor/extensions/multi_site
	url = git@github.com:netzpirat/radiant-multi-site-extension.git
